 <div class="content">
   <!-- // zraner -->
  <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Casual Aniversario!!!</mat-card-title>
    <mat-card-subtitle>27 Años terrestres</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
  <mat-card-content>
    <p>
      Hoy, en el dia 01/05/2XXX celebramos el aniversario de nuestro amado lider Zraner.
    </p>
    <p>
      PD: la foto puede no corresponder con el amado lider.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <!-- <button mat-button>SHARE</button> -->
  </mat-card-actions>
</mat-card>

<!-- kazark -->
  <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Casual Aniversario!!!</mat-card-title>
    <mat-card-subtitle>39 Años terrestres</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image  class="image"     src="https://cdn.discordapp.com/attachments/706518418349883513/706527809941667912/unknown.png">
  <mat-card-content>
    <p>
      Hoy, en el dia 03/05/2XXX celebramos el aniversario de nuestro amado Co-lider Kazark.
    </p>
    <p>
      PD: la foto puede no corresponder con el amado Co-lider.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <!-- <button mat-button>SHARE</button> -->
  </mat-card-actions>
</mat-card>


 </div>

