<!-- <div class="content"> -->
<!-- <div fxLayout="row" fxLayout.xs="column"> -->
<!-- // zraner -->
<!-- <mat-card class="example-card" *ngFor="let noticia of news | sortBy:'desc'">
		<mat-card-header>
			<div mat-card-avatar class="example-header-image"></div>
			<mat-card-title>{{noticia.titulo}}</mat-card-title>
			<mat-card-subtitle>{{noticia.subtitulo}}</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image  class="image" [src]="getImage(noticia)">
		<mat-card-content>
			{{noticia.contenido}}
		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button #tooltip="matTooltip"
        matTooltip="{{noticia.favs}}"
        matTooltipPosition="above"
        aria-tooltip="favs"
        (click)="addLike(noticia)">
      LIKE
    </button>
			<button mat-raised-button (click)="addComentarios(noticia)">Comentarios</button>
		</mat-card-actions>
	</mat-card>
</div> -->
<!-- [colspan]="tile.cols" [rowspan]="tile.rows" -->
<mat-grid-list cols="4" rowHeight="600px">
	<mat-grid-tile *ngFor="let noticia of news | sortBy:'desc':'orderId' ">
		<mat-card class="example-card">
			<mat-card-header>
				<div mat-card-avatar class="example-header-image"></div>
				<mat-card-title>{{noticia.titulo}}</mat-card-title>
				<mat-card-subtitle>{{noticia.subtitulo}}</mat-card-subtitle>
			</mat-card-header>
			<img mat-card-image  class="image" [src]="getImage(noticia)">
			<mat-card-content>
				{{noticia.contenido}}
			</mat-card-content>
			<mat-card-actions class="actions">
				<button mat-raised-button #tooltip="matTooltip"
        matTooltip="{{noticia.favs}}"
        matTooltipPosition="above"
        aria-tooltip="favs"
        (click)="addLike(noticia)">
      LIKE
    </button>
				<button mat-raised-button (click)="addComentarios(noticia)">Comentarios</button>
				<div class="date">
					{{getDate(noticia.date)|date}}
				</div>
			</mat-card-actions>
		</mat-card>
	</mat-grid-tile>
</mat-grid-list>