<div class="content-profile">

  <div class="profile" *ngIf="showProfile">
    <mat-card>
      <img mat-card-image>
      <mat-card-title>
        {{name}}
      </mat-card-title>
     
      <mat-card-subtitle>
        {{rol}}/{{naveFavorita}}
      </mat-card-subtitle>
      <mat-card-content>
        {{personalDescription}}
      </mat-card-content>
      <mat-card-subtitle>
        {{rango}}
      </mat-card-subtitle>
    </mat-card>
  </div>
  
   <div class="table">
    <mat-card>
      <app-table
      [userId]="userId"
      [datatableColumns]= datatableColumns
      [modelMode]="'profile'"
      [adminMode]="adminMode">
      </app-table>
    </mat-card>
  </div>


</div>