  
  <div class="creacion">
    <mat-card>
      <mat-card-title class="title" >
        <button 
          class="card-button"
          (click)="save()"
          mat-raised-button color="primary">Guardar</button>
        Creación Usuario
      </mat-card-title>
      <form [formGroup] ="userForm" class="example-form">
        <!-- /nick -->
        <mat-form-field class="example-full-width">
          <mat-label>Nick StarCitizen</mat-label>
          <input formControlName="username" matInput placeholder="Nick StarCitizen" value="" required>
        </mat-form-field>
         <!-- <label *ngIf="username.invalid" [ngClass] = "'error'">El nick es requerido </label> -->
         <!-- rol -->
         <mat-form-field class="example-full-width">
          <mat-label>Rol</mat-label>
          <input  formControlName="rol" matInput placeholder="Rol Ej:Comercio" value="" required>
        </mat-form-field>
         <!-- <label *ngIf="rol.invalid" [ngClass] = "'error'">El rol es requerido </label> -->
        <!-- Favorite -->
        <mat-form-field class="example-full-width">
          <mat-label>Nave Favorita</mat-label>
          <input formControlName="favorite" matInput placeholder="Nave favorita" value="">
        </mat-form-field>
        <!-- Organizacion -->
        <mat-form-field class="example-full-width">
          <mat-label>Organizacion</mat-label>
          <input formControlName="org" matInput placeholder="Organizacion" value="">
        </mat-form-field>
         <!-- Descripción -->
        <mat-form-field class="example-full-width">
          <mat-label>Descripción</mat-label>
          <textarea formControlName="descripcion" matInput placeholder=""></textarea>
        </mat-form-field>
      </form>
    </mat-card>
  </div>