<div class="menu" *ngIf="authService.isLoggedIn()">
  <div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <!-- <div class="sidebar-header">
            <h5>HoplitaManager</h5>
        </div>
         -->
        <mat-toolbar class ="sidebar-header">
          <h5>HoplitaManager</h5>
        </mat-toolbar>

        <ul class="list-unstyled components">
            <!-- <p>Dummy Heading</p> -->
            <li class="active">
                <a href="/dashboard" data-toggle="collapse" aria-expanded="false">Novedades</a>
            </li>
            <li class="active">
                <a href="/profile" data-toggle="collapse" aria-expanded="false">Perfil</a>
            </li>
            <!-- <li class="active">
                <a href="/add-user" data-toggle="collapse" aria-expanded="false">AddUser</a>
            </li> -->
            <li  class="active">
                <a  href="/admin" data-toggle="collapse" aria-expanded="false">Admin</a>
            </li>
             <li class="active">
               
               <a class="nav-link" (click)="authService.SignOut()">
                Log out  <i class="fas fa-sign-out-alt"></i>
              </a>
            </li>
            <!-- href="#homeSubmenu" -->
             <!-- class="dropdown-toggle" -->
        </ul>
    </nav>
</div>