  
  <div class="creacion">
    <mat-card>
      <mat-card-title class="card-button">
        Creación Usuario
        <button mat-raised-button color="primary">Accent</button>
      </mat-card-title>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Nombre StarCitizen" value="" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Rol</mat-label>
          <input matInput placeholder="Nombre StarCitizen" value="" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Nave Favorita</mat-label>
          <input matInput placeholder="Nave favorita" value="" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Rol</mat-label>
          <input matInput placeholder="Nombre StarCitizen" value="" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Organizacion</mat-label>
          <input matInput placeholder="Nave favorita" value="" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Descripción</mat-label>
          <textarea matInput placeholder=""></textarea>
        </mat-form-field>
      </form>
    </mat-card>
  </div>