<div class="test">
  <h1>Formulario</h1>
  <app-addship></app-addship>
  <!-- <app-input [label]="label"></app-input>
  <!-- Select Banu -->
  <!-- <form-select [selectOptions]="selectOptions" [selectLabel]="selectLabelBanu" ></form-select>
  
  <form-select [selectOptions]="selectOptions1" [selectLabel]="selectLabelBanu"></form-select>
  <form-select [selectOptions]="selectOptions2" [selectLabel]="selectLabelBanu"></form-select>
  <form-select [selectOptions]="selectOptions3" [selectLabel]="selectLabelBanu"></form-select>

  <button (click)="save()">Save</button> -->
</div>
