<!-- //perfil o modo edicion -->
<div *ngIf="!adminMode">
  <div>

  </div>
  <div class="test">
    <div class="addShip">         
    <button  color="primary" class="save" mat-raised-button (click)="save()">Añadir</button>
   <app-add-ship-profile
        [selectedBrand]="selectedBrand"
        [selectBrandLabel]="selectBrandLabel"
        [selectShipsLabel]="selectShipsLabel"
        [selectShipsbyBrandOptions]="brandModels"
        [selectBrandOptions]="brands"
        (changeBrand) ="getmodel($event)"
      ></app-add-ship-profile>
  </div>

  </div>
</div>

<div *ngIf="adminMode">
  <div>
  </div>
  <div class="test">
    <app-addship
      [adminMode]="adminMode"
      *ngIf="brands.length > 0"
      [brands]="brands"
      (populateTable)="populateTable($event)">
    </app-addship>
  </div>
</div>
