<div class="content">
  <mat-card class="example-card">
    <mat-card-header>
      <!-- <mat-card-title>Bienvenido</mat-card-title> -->
    </mat-card-header>
    
    <mat-card-content>
      <img mat-card-image       src="https://cdn.discordapp.com/attachments/482261948348629013/706511974485196870/Recurso_27.png">
    </mat-card-content>
    <mat-card-actions class="google-button">
      <!-- <button mat-button>  -->
      <button type="button" class="btn btn-outline-primary " (click)="authService.GoogleAuth()">
              <i class="fab fa-google-plus-g"></i>
              Google
      </button>
      <!-- </button> -->
      <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>

</div>

