.menu {
  width: 25%;
}
.container-all {
  display: flex;
}

.container-form {
  width: 75%;
  margin: 30px;
}
.example-container {
  background-color: #FAFAFA;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.toolbar {
  background-color: lightblue;
}