<mat-sidenav-container class="example-container">
   <mat-sidenav class="sidenadcontainer "#sidenav mode="side" [(opened)]="opened">
    <app-menu></app-menu>
    </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar class ="toolbar" *ngIf="authService.isLoggedIn()">
      <button  class="menubutton" (click)="sidenav.toggle()">
        <mat-icon fontSet="fas" fontIcon="fa-bars"></mat-icon>
      </button>
      <!-- <div class="example-button-container">
        <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </div> -->
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
