<mat-toolbar>
  <span>My Application</span>
</mat-toolbar>
<div class="container-all">
  <app-menu></app-menu>
  <div class="container-form">
    <router-outlet></router-outlet>
  </div>
</div>



<!-- <mat-sidenav-container class="example-container" >
  <mat-sidenav mode="side" [opened]="opened"> 
    <!-- (opened)="events.push('open!')"(closed)="events.push('close!')"> -->
               <div>tests</div>
    
    <!-- <app-menu></app-menu> -->
  <!-- </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-button (click)="toggle()">Open</button>
      <span>My Application</span>
    </mat-toolbar> 

  </mat-sidenav-content>
</mat-sidenav-container> -->
