<div class="content-profile">
  
  <div class="table">
    <app-table
    [datatableColumns]= datatableColumns
    [adminMode]="adminMode">
    </app-table>
  </div>
   <div class="tablenodata" *ngIf="userShips.length <= 0">
    <mat-card>
     <!-- <h2>Añade tus naves</h2> -->
      <app-form [adminMode]="false"></app-form>
    </mat-card>
  </div>
  <div class="profile" *ngIf="showProfile">
    <mat-card>
      <img mat-card-image>
      <mat-card-title>
        {{name}}
      </mat-card-title>
      <mat-card-subtitle>
        {{rol}}/{{naveFavorita}}
      </mat-card-subtitle>
      <mat-card-content>
        {{personalDescription}}
      </mat-card-content>
      <mat-card-subtitle>
        {{org}}
      </mat-card-subtitle>
    </mat-card>
  </div>

</div>