<div class="content-profile">
  
   <div class="table" *ngIf="userShips.length <= 0">
    <mat-card>
      <app-table
      [datatableColumns]= datatableColumns
      [adminMode]="adminMode">
      </app-table>
      <app-form [adminMode]="false"></app-form>
    </mat-card>
  </div>
  <div class="profile" *ngIf="showProfile">
    <mat-card>
      <img mat-card-image>
      <mat-card-title>
        {{name}}
      </mat-card-title>
      <mat-card-subtitle>
        {{rol}}/{{naveFavorita}}
      </mat-card-subtitle>
      <mat-card-content>
        {{personalDescription}}
      </mat-card-content>
      <mat-card-subtitle>
        {{org}}
      </mat-card-subtitle>
    </mat-card>
  </div>

</div>