<div class="container pt-3">
  <div class="row justify-content-sm-center">
    <div class="col-sm-10 col-md-6">
      <div class="card border-info">
        <div class="card-header">Login</div>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 text-center">
              <img src="https://cdn.discordapp.com/attachments/482261948348629013/706511974485196870/Recurso_27.png">
            </div>
            <div class="col-md-8">
              <form>
                <input type="text" class="form-control mb-2" placeholder="Email" required autofocus>
                <input type="password" class="form-control mb-2" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block mb-1" type="submit">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 <div class="content">
  <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Casual Aniversario!!!</mat-card-title>
    <mat-card-subtitle>27 Años terrestres</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
  <mat-card-content>
    <p>
      Hoy, en el dia 01/05/2XXX celebramos el aniversario de nuestro amado lider Zraner.
    </p>
    <p>
      PD: la foto puede no corresponder con el amado lider.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <!-- <button mat-button>SHARE</button> -->
  </mat-card-actions>
</mat-card>

 </div>


</div>