/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.tableHeader {
  padding-bottom: 10px;
}

.tableCell {
  padding-top: 15px;
}

.addbuttom {
  margin-top: 20px;
}