<mat-form-field *ngIf="adminMode && showtable ">
	<mat-label>Filtrar</mat-label>
	<input matInput (keyup)="applyFilter($event)" placeholder="Marca, modelo...">
</mat-form-field>


	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" [hidden]="!showtable" matSort>
    <!-- model table -->
      <!-- brand Column -->
      <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Marca </th>
        <td class="tableCell" mat-cell *matCellDef="let line"> {{line.brand}} </td>
      </ng-container>
      <!-- moidel Column -->
      <ng-container matColumnDef="model">
        <th class="tableHeader" mat-header-cell *matHeaderCellDef mat-sort-header> Modelo </th>
        <td class="tableCell" mat-cell *matCellDef="let line"> {{line.model}} </td>
      </ng-container>


    <!-- ship table -->
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th class="tableHeader" mat-header-cell *matHeaderCellDef mat-sort-header> Marca </th>
        <td class="tableCell" mat-cell *matCellDef="let line"> {{line.name}} </td>
      </ng-container>

      <ng-container matColumnDef="ships"> 
        <th class="tableHeader" mat-header-cell *matHeaderCellDef > Modelo </th>
        <td class="tableCell" mat-cell *matCellDef="let line">
          {{line.ship}}
        </td>
      </ng-container>
      <!-- mat-sort-header -->

      <ng-container matColumnDef="userName">
        <th class="tableHeader" mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
        <td class="tableCell" mat-cell *matCellDef="let line">
          {{line.userName}}
        </td>
      </ng-container>
    <!-- User List  -->
      <ng-container matColumnDef="username">
        <th class="tableHeader" mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
        <td class="tableCell" mat-cell *matCellDef="let line">
          {{line.username}}
        </td>
      </ng-container>
      <ng-container matColumnDef="rango">
        <th class="tableHeader" mat-header-cell *matHeaderCellDef mat-sort-header> Rango </th>
        <td class="tableCell" mat-cell *matCellDef="let line">
          {{line.rango}}
        </td>
      </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="deleteModels">
        <th class="tableHeader" mat-header-cell *matHeaderCellDef></th>
        <td class="tableCell" (click)="deleteModel(line)" mat-cell *matCellDef="let line">
          <span class="material-icons">
            delete
          </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="deleteUser">
        <th class="tableHeader" mat-header-cell *matHeaderCellDef></th>
        <td class="tableCell" (click)="deleteUser(line)" mat-cell *matCellDef="let line">
          <!-- <span>Borrar</span> -->
          <span class="material-icons">
            delete
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th class="tableHeader" mat-header-cell *matHeaderCellDef></th>
        <td class="tableCell" (click)="deleteShip(line)" mat-cell *matCellDef="let line">
          <!-- <span>Borrar</span> -->
          <span class="material-icons">
            delete
          </span>
        </td>
      </ng-container>
          <ng-container matColumnDef="viewUser">
        <th class="tableHeader" mat-header-cell *matHeaderCellDef></th>
        <td class="tableCell" (click)="viewUser(line)" mat-cell *matCellDef="let line">
          <!-- <span>Borrar</span> -->
          <span class="material-icons">
            visibility
          </span>
        </td>
      </ng-container>

      
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>

	<div class="add" *ngIf="!adminMode">
		<button *ngIf="!addActivate" color="primary" mat-raised-button (click)="activateAdd()">Añadir</button>
    <span *ngIf="!showtable && !addActivate"> <-- Añade Tus naves!</span>
		<div class="addbutton">
			<app-form *ngIf="addActivate" [activateAdd]="activateAdd" [adminMode]="false"></app-form>
			<button class="clearbuttton" *ngIf="addActivate" (click)="activateAdd()">
        <div class="clear">
          <span class="material-icons">
            clear
          </span>
        </div>
      </button>
		</div>
	</div>

<mat-paginator
  [hidden]="!showtable"
  [length]="length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent = $event">
</mat-paginator>

<h5 *ngIf="adminMode && !showtable"> No hay naves!</h5>
