<mat-form-field *ngIf="adminMode">
	<mat-label>Filter</mat-label>
	<input matInput (keyup)="applyFilter($event)" placeholder="Nom">
</mat-form-field>
	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="showtable">

		<!-- Name Column -->
		<ng-container matColumnDef="name">
			<th class="tableHeader" mat-header-cell *matHeaderCellDef> Marca </th>
			<td class="tableCell" mat-cell *matCellDef="let line"> {{line.name}} </td>
		</ng-container>

		<!-- Weight Column -->
		<ng-container matColumnDef="ships">
			<th  class="tableHeader"mat-header-cell *matHeaderCellDef> Modelo </th>
			<td class="tableCell" mat-cell *matCellDef="let line">
				<span *ngFor=" let ship of line.ships">
        {{ship.model}}
      </span>
			</td>
		</ng-container>

		<ng-container matColumnDef="userName">
			<th  class="tableHeader" mat-header-cell *matHeaderCellDef> Usuario </th>
			<td class="tableCell" mat-cell *matCellDef="let line">
				{{line.userName}}
			</td>
		</ng-container>
		<ng-container matColumnDef="actions">
			<th class="tableHeader" mat-header-cell *matHeaderCellDef> Actions </th>
			<td class="tableCell" (click)="deleteShip(line)" mat-cell *matCellDef="let line">
				<span>Borrar</span>
			</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
	<div *ngIf="!adminMode">
		<button *ngIf="!addActivate" color="primary" mat-raised-button (click)="activateAdd()">Añadir</button>
	</div>
	<div class="addbutton">
		<app-form *ngIf="addActivate" [activateAdd]="activateAdd" [adminMode]="false"></app-form>
		<button *ngIf="addActivate" color="primary" mat-raised-button (click)="activateAdd()">Cancelar Añadir</button>
	</div>


	<!-- <mat-paginator [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons></mat-paginator> -->