/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.tableHeader {
  padding-bottom: 10px;
}

.tableCell {
  padding-top: 15px;
}

.addbutton {
  display: flex;
}

.add {
  margin-top: 20px;
  /* margin-bottom: 10px; */
}

.clear {
  margin-top: 20px;
  margin-left: 5px; 
}

.clearbuttton {
  display: contents;
}