<div>
  <h1>Añadir Nave</h1>
  <form-select
    [selectBrandLabel]="selectBrandLabel"
    [selectShipsLabel]="selectShipsLabel"
    [selectShipsbyBrandOptions]="selectShipsbyBrandOptions"
    [selectBrandOptions]="brands"
  ></form-select>

  <button (click)="save()">save</button>
</div>

<div>
    <h1>Añadir Modelo</h1>
  <form-select
    [selectBrandLabel]="selectBrandLabel"
    [selectShipsLabel]="selectShipsLabel"
    [selectShipsbyBrandOptions]="selectShipsbyBrandOptions"
    [selectBrandOptions]="brands"
    [insertMode] ="true"
  ></form-select>

  <button (click)="saveModel()">save</button>
</div>