<div *ngIf="!adminMode">
  <div class="addShip">
    <!-- <button (click)="save()">save</button> -->
    <!-- <button (click)="save()
     mat-raised-button>Añadir</button> -->            
    <button  color="primary" class="save" mat-raised-button (click)="save()">Añadir</button>
    <form-select
      [selectedBrand]="selectedBrand"
      [selectBrandLabel]="selectBrandLabel"
      [selectShipsLabel]="selectShipsLabel"
      [selectShipsbyBrandOptions]="selectShipsbyBrandOptions"
      [selectBrandOptions]="brands"
      (changeBrand) ="changeBrand($event)"
    ></form-select>

  </div>
</div>

<div *ngIf="adminMode">
    <!-- <h1>Añadir Modelo</h1> -->
  <div class="addShip">
       <button  color="primary" class="save" mat-raised-button (click)="save()">Añadir</button>

    <form-select
      [selectBrandLabel]="selectBrandLabel"
      [selectShipsLabel]="selectShipsLabel"
      [selectShipsbyBrandOptions]="selectShipsbyBrandOptions"
      [selectBrandOptions]="brands"
      [insertMode] ="true"
    ></form-select>
  </div>

</div>